@media screen and (min-width: 640px) and (max-width: 1024px){
    .index-header{
        height: 35%;
    }
    .menu .buttons{
        top: 25px;
        width: 100%;
    }
    .menu ul{
        width: 90%;
        right: 26%;
    }
    .menu li{
        margin: 0 3%;
    }
    .top-block .meat,
    .vegan,
    .restaurant{
        height: 100%;;
    }
    .message {
        padding: 10px;
        margin: -10% 13%;
        height: 35%;
        border-radius: 5px;
    }
    .message button{
        width: 80%;
        height: 25%;
        margin: 5%;
    }
    .index-main{
        top: 35%;
        height: 1024px;
    }
    .index-main .daily-menu{
        margin: 10% 0px;
    }
    .daily-menu .buttons button {
        width: 13%;
    }
    .daily-menu .menu{
        display: none;
        width: 80%;
        height: 50%;
        margin: 15% 10%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 50%);
        grid-gap: 5%;
    }
    .daily-menu .menu .menu-items .price {
        width: 12%;
        border-radius: 10px;
        left: 92%;
        bottom: 31%;
    }
    .slider-wrapper {
        left: 0px;
        width: 100%;
        height: 30%;;
    }
    .swiper-slide{
        width: 80%;
    }
    .swiper-container{
        bottom: 25%;
        right: 0%;
    }
    .slider{
        width: 80%;
        
    }
    .swiper-button-next, .swiper-button-prev {
        top: 65%!important;
    }
    .swiper-button-next{
        right: -7% !important;
    }
    .swiper-button-prev{
        left: -10% !important;
    }
    .swiper-pagination {
        position: absolute;
        top: 117%;
    }
    .about-us{
        top: 180%;
        height: 40%;
    }
    .about-us .find-us,
    .contact-us {
        padding: 4% 10%;
        width: 25.1%;
        height: 70%;
    }
    .about-us .find-us button,
    .contact-us button{
        width: 50%;
    }

    



}	