@media screen and (min-width: 1024px) and (max-width: 1400px){
    .index-header{
      height: 70%;
    } 
    .menu .buttons{
        top: 25px;
    }
    .message{
        padding: 5%;
        border-radius: 10px;
    }
    .message button{
        height: 25%;
        margin: 10%;
    }
    .index-main {
        top: 70%;
    }
    .daily-menu .buttons button {
        width: 8%;
    }
    

    



}	