@media screen and (min-width: 500px) and (max-width: 1024px){
    .index-header{
        background-size: 80% 100%;
        height: 650px;
    }
    .menu{
        height: 15%;

    }
    .menu .buttons{
        width: 90%;
    }
    .message{
        padding: 10px;
        width: 28%;
    }
    .daily-menu .buttons{
        width: 90%;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .daily-menu .buttons button{
        margin: 0;
        width: 15%;
    }
    .daily-menu .menu{
        -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        height: 70%;
    }
    .hot-proposition{
        height: 20%;
    }
    .hot-proposition .elements{
        height: 80%;
    }
    .hot-proposition .rounds{
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        height: 20%;
    }
    .about-us .find-us,
    .contact-us{
        padding: 30px;
        width: 38%;
    }
    .about-us .contact-us form{
        height: 180px;
    }
    .about-us .contact-us form input{
        -webkit-box-flex: 20%;
        -ms-flex: 20%;
        flex: 20%;
        padding: 5px;
        height: 30px;
    }
    .about-us .contact-us form button{
        
    }

}

    


