@media screen and (min-width: 300px) and (max-width: 499px) {
    body {
        padding: 0;
        margin: 0;
        min-width: 100%;
    }
    .index-header {
        height: 400px;
    }
    .menu{
        height: 20%;
    }
    .menu .buttons {
        width: 100%;
    }
    .block{
        height: 80%;

    }
    .phone-inactive{
        display: none;
    }
    .message{
        width: 70%;
        height: 70%;
        
    }

    .message h3 {
        font-size: 20px;
    }

    .message p {
        font-size: 15px;
    }
    .index-main{
        height: auto;
    }
    .index-main .daily-menu{
        margin: 10% 0;
        height: auto;
        
    }
    .daily-menu .buttons{
        flex-wrap: wrap;
        height: 130px;
        margin: 10% 0;
    }
    .daily-menu .buttons button{
        width: 20%;
        height: 40%;
    }
    .daily-menu .menu{
        height: auto;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 13%);
        grid-gap: 1%;
    }
    .daily-menu .menu .active{
        width: 100%;
    }
    .daily-menu .menu .menu-items{
        padding: 20px;
    }
    .hot-proposition{
        height: 320px;
    }
    .swiper-container{
        width: 100%;
    }
    .swiper-button-next,
    .swiper-button-prev{
        display: none;
    }
    


    .about-us {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 700px;
        background-image: none;
        border: none;
        background-color: rgba(241, 172, 17, 0.86);
    }
    .about-us .find-us, .contact-us {
        padding: 5% 10%;
        width: 70%;
        height: 40%;
    }
    footer{
        display: none;
    }
