html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

/* div, span, button, input, a {
  outline: none;
} */

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  margin: 0 auto;
}

.index-header {
  background: #EEEDE8 url(../images/header-images/joanna-kosinska-Prfs32wh-o4-unsplash.jpg) no-repeat;
  background-size: 75% 100%;
  background-position: right;
  margin: 0;
  width: 100%;
  height: 800px;
}

.menu {
  display: flex;
  justify-content: center;
  margin: auto 0px;
  width: 100%;
  height: 10%;
  z-index: 333;
}

.menu .buttons {
  width: 50%;
}

.menu .buttons ul {
  margin: 0;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-end;
}

.menu .buttons ul li {
  display: flex;
  list-style: none;
  height: 30px;
  justify-content: center;
}

.menu .buttons ul li a {
  flex: 1;
  font-size: 15px;
  color: #000;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
}

.menu .buttons ul li a:hover {
  border-bottom: 3px solid #f1ac11;
  color: #f1ac11;
}

.block {
  width: 100%;
  height: 87%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.message {
  opacity: 0.9;
  ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 20%;
  height: 45%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.21);
  text-align: center;
}

.message img {
  width: 50px;
  height: 50px;
}

.message h3 {
  margin: 0;
}

.message p {
  margin: 0;
}

.message a {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #9e9e9e;
}

/*Hover animation for header div*/

.index-header * {
  transition: all 0.2s ease;
}

.block .message:hover {}

.block div:hover {
  transform: scale(1.03);
}

.message a:hover {
  color: #616161;
}

/*main-content*/

.index-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 1900px;
}

.index-main .daily-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  margin: 5% 0 0 0;
  text-align: center;
}

.daily-menu h3 {
  margin: 0;
  display: flex;
  align-items: center;
  height: 10%;
  font-size: 30px;
  color: #f1ac11;
}

.daily-menu .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.daily-menu .buttons button {
  width: 5%;
  height: 55%;
  border: none;
  background-color: rgb(245, 198, 86);
  color: #2B2B2B;
  margin: 0px 25px 0px 0px;
  border-radius: 5px;
  color: #000;
}

.daily-menu .buttons button:hover {
  background-color: #F1AC11;
}

.daily-menu .buttons .active {
  background-color: #F1AC11;
}

.daily-menu .menu {
  height: 50%;
  width: 70%;
  display: grid;
  grid-template-rows: 40% 40%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
  justify-content: space-between;
  text-align: left;
}

.daily-menu .menu {
  display: none;
}

.daily-menu .menu.active {
  display: grid;
}

.daily-menu .menu .menu-items {
  padding: 40px;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-gap: 5%;
}

.daily-menu .menu .menu-items h4 {
  display: grid;
  grid-template-columns: 8fr 1fr;
  font-size: 15px;
  color: #2B2B2B;
}

.daily-menu .menu .menu-items .price {}

.daily-menu .menu .menu-items .text p {
  ;
  margin: 0px;
}

.daily-menu .menu .menu-items .price {
  display: flex;
  justify-content: center;
  background-color: #F1AC11;
  border-radius: 15px;
  bottom: 48%;
  left: 90%;
}

.daily-menu .menu .menu-items .price a {
  text-decoration: none;
  color: #2B2B2B;
  font-size: 13px;
  border: none;
}

/*slider styles*/

.hot-proposition {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hot-proposition .elements {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swiper-container {
  width: 60%;
}

.swiper-wrapper {
  width: 100%;
}

.slider {
  display: grid!important;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.swiper-button-next, .swiper-button-prev, .swiper-container {
  margin: 0!important;
}

.rounds {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  color: #F1AC11;
  display: flex;
  align-items: center;
}

.slider-logo .logo {
  width: 100%;
}

.slider-logo img {}

.slider .slider-text {}

.slider-text .slider-price, h3, p {
  margin-left: 5%;
}

.slider-text .small-title {
  font-size: 12px;
  color: #f1ac11;
}

.slider-text h3 {
  font-size: 17px;
  color: #2b2b2b;
}

.slider-text p {
  font-size: 15px;
  color: #e3e3e3;
}

.slider-text .slider-price {
  width: 15%;
  height: 10%;
  background-color: #f1ac11;
  padding: 5px;
  text-align: center;
  font-size: 10px;
  border-radius: 15px;
}

/*about us*/

.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 490px;
  background-image: url(../images/main-images/about/4031.png);
  background-repeat: no-repeat;
}

.about-us .find-us, .contact-us {
  text-align: center;
  width: 20%;
  height: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.thanks {
  border: 5px solid #F1AC11;
  width: 20%;
}

.about-us .find-us {
  background-color: #ffffff;
  text-align: center;
}

.about-us h4 {
  font-size: 17px;
}

.about-us .find-us .phone, .adress {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.about-us .find-us h5 {
  margin: 0 15px;
  line-height: 30px;
}

.about-us .find-us p {}

.about-us a img {
  width: 40px;
  height: 40px;
}

.about-us .contact-us {
  background-color: #ffffff;
}

.about-us .contact-us h3, h4 {
  font-size: 15px;
  color: #000000;
}

.about-us .contact-us form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0;
  justify-content: space-around;
  width: 100%;
  height: 70%;
  text-align: center;
}

.about-us .contact-us form input {
  width: 95%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #eceff1;
  height: 20px;
}

.about-us .contact-us form button {
  width: 50%;
  height: 40px;
  background-color: #F1AC11;
  border: none;
}

.hidden {
  display: none;
}

.index-footer {
  width: 100%;
  height: 200px;
  background-image: url(../images/footer-images/866.png);
}

.index-footer ul li {
  list-style: none;
}

.index-footer ul li a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}