html, body{
	padding: 0;
	margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none; 
  -webkit-touch-callout: none;

}
.wrapper{
	width: 1920px;
	margin: 0 auto;
}
.index-header{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 90%;
}
.menu{
  position: absolute;
  top: 0;
  width: 100%;
  height: 12.31481481481481%;
  z-index: 333;
}
.menu .logo{
  z-index: 333;
  width: 16.32291666666667%;
  margin: 30px 0px 0px 70px;
}
.menu .logo img{
  margin: 0px;
}
.menu .buttons{
  position: absolute;
  right: 0px;
  top: 70px ;
  width: 81.77083333333333%;
  height: 80%;
}
.menu ul{
  position: absolute;
  right: 47.45833333333333%;
  height: 100%;
  width: 80%;

}
.menu li{ 
  float: right;
  list-style: none;
  height: 30px;
  margin: 0px 2.66% 0px 0px;
}
.menu li a{
  width: 100%;
  height: 30px;
  font-size: 15px;
  color: #010100;
  font-weight: bolder;
  text-decoration: none;
  padding-bottom: 15px;
}
.menu a:hover{
  border-bottom: 3px solid #f1ac11;
  color: #f1ac11;
}
.top-block .meat,.vegan,.restaurant{
  position: absolute;
  width: 33.333333333333333333333%;
  height: 100%;
}
.top-block img{
  width: 100%;
  height: 100%;
}
.meat{
  opacity: 0.7;
}
.vegan{
  right: 0;
  opacity: 0.8;
}
.restaurant{
  left: 33.33%;
  z-index: 33;
  opacity: 0.8;   
}
.message{
  width: 58.41121495327103%;
  height: 25%;
  position: absolute;
  top: 50%;
  margin-left: 20%;
  background-color: #dedcdb;
  text-align: center;
  opacity: 0.9;
  border-radius: 15px 30px 15px 30px;
}
.message button{
  width: 50%;
  height: 15%;
  margin: 25%;
  background-color: #f1ac11;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  border: none;
  border-radius: 5px 10px;
}
/*Hover animation for header div*/
.top-block div{
  transition: all 0.5s ease;
}
 .top-block .message:hover{
  opacity: 0.95;
  transform: scale(1.2);
  border: 5px solid #f1ac11;
}
.top-block div:hover{
  transform: scale(0.97);
}
.message button:hover{
  background-color: #ffb715;
}
/*main-content*/
.index-main{
  position: absolute;
  top: 90%;
  width: 100%;
  height: 92.59259259259259%;
}
.index-main .daily-menu{
  width: 46.875%;
  height: 77.77777777777778%;
  margin: 7.407407407407407% auto;
  text-align: center;
}
/*daily menu div*/
.daily-menu h3{
  font-size: 30px;
  color: #f1ac11;
}
.daily-menu .items{
  width: 100%;
  height: 25%;
  margin-bottom: 4%;
  float: right;
}
.items-right, .items-left{
  position: absolute;
  width: 21.35416666666667%;
  height: 38.0952380952381%;
}
.items-right img, .items-left img{
  float: left;
  margin-left: 3%;
}
.items-right{
  position: absolute;
  right: 26.5625%;
}
.daily-menu .items h6{
  float: left;
  margin: 5.62% 0% 2.81%;
  font-size: 15px;
  width: 60%;
  height: 45%;
}
.daily-menu .items p{
  position: relative;
  left: 7%;
  bottom: 25%;
  font-size: 13px;
  width: 70%;
  height: 45%;
}
.daily-menu .items .price{
  position: relative;
  left: 90%;
  top: 20%;
  width: 10%;
  height: 25%;
  background-color: #f1ac11;
  border-radius: 5px 10px;
}
/*slider styles*/
.slider-wrapper{
  position: absolute;
  top: 620px;
  right: 20%;
  width: 60%;
  height: 50%;
}
.slider{
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 15px;
}
.slider .slider-logo{
  width: 50%;
  height: 100%;
  float: left;
}
.slider .slider-logo img{
  width: 100%;
  height: 100%;
}
.slider .slider-text{
  width: 50%;
  height: 100%;
  float: right;
}
.slider .slider-text .slider-price,h3,p{
  margin-left: 5%;
}
.slider .slider-text .small-title{
  font-size: 12px;
  color: #f1ac11;
}
.slider .slider-text h3{
  font-size: 17px;
  color: #2b2b2b;
}
.slider .slider-text p{
  font-size: 15px;
  color: #e3e3e3;
}
.slider .slider-text .slider-price{
  width: 15%;
  height: 10%;
  background-color: #f1ac11;
  padding: 5px;
  text-align: center;
  font-size: 10px;
  border-radius: 15px;
 }
 /*about us*/
.about-us{
  position: absolute;
  top: 125%;
  width: 100%;
  height: 44.44444444444444%;
  background-image: url(../images/main-images/about/4031.png);
}
.about-us .find-us{
  padding: 30px;
  width: 25%;
  height: 50%;
  text-align: center;
  background-color: #ffffff;
  margin: 3.5% auto;
  border-radius: 35px;
}
